/* font-family: 'Montserrat', sans-serif;
font-family: 'PT Serif', serif;
font-family: 'Libre Baskerville', serif; */

/* divisions */

header {
  align-items: center;
  background-color: gold;
  display: flex;
  justify-content: space-around;
  min-height: 20vh;
}

header ul {
  display: flex;
  flex-direction: row;
  font-family: 'PT Serif', serif;
  justify-content: space-between;
  width: inherit;
}

header nav {
  align-items: center;
  display: flex;
  width: 38vw;
}

main, .nav_chapitres, .one_chapter {
  display: flex;
  flex-direction: column;
  min-height: 63vh;
  padding: 1rem;
}

footer {
  align-items: center;
  background-color: gold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 10vh;
}

.reseaux_sociaux {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1.6rem;
  width: 25vw;
}

.mentions_legales {

}

/* Page accueil site */
.accueil_texte_image {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
  width: 56vw;
}

.texte_accueil {
  text-align: center;
}

/* Page contact */

.contacts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
  margin-bottom: 2rem;
  margin-top: 2rem;
  width: 48vw;
}

.mouse_pointer {
  text-align: center;
}

/* Page nav_chapitres.php */

.nav_chapitres {
  margin-left: 10vw;
}

.chapter_list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.chapter_preview {
  border: 3px solid gold;
  border-radius: 0.5rem;
  margin: 0rem 0.5rem 0.5rem 0rem;
  max-width: 20vw;
  padding: 1%;
}

.techno_list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

/* chapitre */

.one_chapter {
  margin: auto;
  width: 80vw;
}

.image_chapitre {
  display: flex;
  justify-content: center;
}

.pagination {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 1rem;
  text-align: center;
}

/* titles */

h1, h3 {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

h2, h4 {
  color: rgb(80, 80, 80);
  font-family: 'Montserrat', sans-serif;
}

/* text */

.texte_accueil p {
  font-family: 'Libre Baskerville', serif;
}

.mentions_legales p {
  font-family: 'Montserrat', sans-serif;
}

.chapter_list p {
  font-family: 'Montserrat', sans-serif;
}

.one_chapter p {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5rem;
}

span {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  line-height: 1.5rem;
}

.fa-mouse-pointer {
  color: gold;
  transform: rotate(-30deg);
}

.fa-chevron-left, .fa-chevron-right {
  color: gold;
}

/* links - buttons */

header a {
  background-color: rgb(250, 250, 250);
  border-radius: 0.8rem;
  color: rgb(80, 80, 80);
  font-family: 'Montserrat', sans-serif;
  padding: 0.3rem 1rem 0.4rem 1rem;
  text-decoration: none;
}

.contacts a {
  background-color: rgb(150, 150, 150);
  border-radius: 1rem;
  color: rgb(250, 250, 250);
  font-family: 'Montserrat', sans-serif;
  padding: 0.3rem 1rem 0.4rem 1rem;
  text-align: center;
  text-decoration: none;
  width: 11vw;
}

.contacts a:hover {
  background-color: rgb(10, 10, 10);
  transition: background-color 650ms;
}

.contacts a:not(:hover) {
  transition: background-color 550ms;
}

.nav_chapitres a, .one_chapter a {
  color: rgb(10, 10, 10);
  font-family: 'Montserrat', sans-serif;
  line-height: 1.6rem;
  text-decoration: none;
}

.nav_chapitres a:hover, .reseaux_sociaux a:hover, .one_chapter a:hover {
  color: rgb(60, 60, 60);
  font-weight: 500;
  transition: 550ms;
}

.nav_chapitres a:not(:hover), .reseaux_sociaux a:not(:hover), .one_chapter a:not(:hover) {
  transition: 550ms;
}

.chapter_preview a {
  font-size: 1.3rem;
}

.lien_techno {
  border : 2.5px solid gold;
  border-radius: 0.5rem;
  margin: 0rem 0.3rem 0.3rem 0rem;
  padding: 0.3rem 1rem 0.4rem 1rem;
  text-align: center;
  width: 8vw;
}

.reseaux_sociaux a {
  color: rgb(10, 10, 10);
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}

/* lists */

header li {
  list-style-type: none;
}

/* images */

.image_d_accueil {
  max-height: 22vw;
  max-width: 30vw;
}

.chapter_thumbnail {
  max-width: 17vw;
}

.chapter_realsize {
  max-width: 60vw;
}
