/* font-family: 'Montserrat', sans-serif;
font-family: 'PT Serif', serif;
font-family: 'Libre Baskerville', serif; */

/* divisions */

header {
  background-color: gold;
  min-height: 10vh;
}

footer {
  background-color: gold;
  min-height: 10vh;
}

/* Page accueil site */
.accueil_texte_image {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.texte_accueil {
  text-align: center;
}

.image_accueil {
  margin: auto;
}

/* titles */

h1 {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

h2 {
  font-family: 'Montserrat', sans-serif;
}

/* text */

.texte_accueil p {
  font-family: 'Libre Baskerville', serif;
}


/* links - buttons */

/* lists */

/* images */

.image_d_accueil {
  max-width: 30vw;
}
