/* font-family: 'Montserrat', sans-serif;
font-family: 'PT Serif', serif;
font-family: 'Libre Baskerville', serif; */


/* divisions */

header {
  align-items: center;
  background-color: gold;
  display: flex;
  justify-content: center;
  min-height: 20vh;
}

.connexion {
  min-height: 50vh;
  padding: 2rem;
}

.connexion_form {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.8rem;
  margin: auto;
  width: 50vw;
  padding-bottom: 2rem;
  padding-top: 3rem;
}

.avatar {
  padding: 1.2rem 2rem 1rem 0rem;
}

.form {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.8rem;
  padding: 1rem 0rem;

}

.field {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 0.3rem;
  width: 50vw;
}

.image_accueil {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50vw;
}

hr {
  border: 1px solid rgb(240, 240, 240);
}

.main, .user_page {
  min-height: 53vh;
  padding-bottom: 2rem;
  padding-left: 3rem;
  padding-right: 2rem;
  padding-top: 1rem;
}

.menu_accueil {
  display: flex;
  flex-direction: column;
  min-height: 35vh;
  justify-content: space-around;
}

.chapter {
  margin-bottom: 1rem;
}

.list_paragraph {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.yellow_line {
  background-color: gold;
  height: 100%;
  width: 0.3rem;
}

.list {
  font-family: 'Montserrat', sans-serif;
  line-height: 2rem;
}

table {
  border: 2px solid rgb(150, 150, 150);
  border-radius: 0.2rem;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 2rem;
  padding: 0.2rem;
  text-align: center;
}

th {
  background-color: gold;
  border-radius: 0.2rem;
  color: rgb(100, 100, 100);
  padding: 0.5rem 0rem;
  width: 45vw;
}

td {
  border: 1.5px solid gold;
  border-radius: 0.2rem;
  padding: 0.2rem 0rem;
  width: 20vw;
}

.add_user {
  border: 2px solid rgb(150, 150, 150);
  border-radius: 0.2rem;
  padding: 0.8rem;
  width: 50vw;
}

footer {
  align-items: center;
  background-color: gold;
  display: flex;
  justify-content: space-around;
  min-height: 15vh;
}

/* titles */

h1, h2 {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  color: rgb(60, 60, 60);
  font-weight: 600;
  text-align: center;
}

/* text */

span {
  font-size: 1rem;
}

.fa-ellipsis-h {
  color: gold;
}

footer p {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.fa-mouse-pointer {
  color: gold;
  transform: rotate(-30deg);
}

/* links */

.menu_accueil a {
  color: rgb(60, 60, 60);
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}

.form a {
  color: rgb(60, 60, 60);
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}

.chapter a {
  color: rgb(60, 60, 60);
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}

.list a {
  color: rgb(60, 60, 60);
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}

.delete_link {
  color: rgb(242, 136, 39);
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  text-decoration: none;
}

.delete_link:hover {font-weight: 500;
}

table a {
  font-weight: 600;
}

/* lists */

.list li {
  list-style-type: none;
}

/* inputs - buttons */

.field input {
  width: 25.5vw;
}

.cancel-button {
  background-color: rgb(200, 200, 200);
  border: 0px;
  border-radius: 0.3rem;
  color: rgb(60, 60, 60);
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  margin-top: 1rem;
  padding: 0.2rem 0.5rem 0.2rem 0.5rem;
  text-decoration: none;
}

.send-button {
  background-color: gold;
  border: 0px;
  border-radius: 0.3rem;
  color: rgb(60, 60, 60);
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  margin-top: 1rem;
  padding: 0.2rem 0.5rem 0.2rem 0.5rem;
}

textarea, input {
  font-family: Verdana, Geneva, sans-serif;
}

.users label {
  color: rgb(60, 60, 60);
  font-family: 'Montserrat', sans-serif;
}

/* img */

.mini_image {
  max-width: 15vw;
}

.avatar_thumbnail {
  border-radius: 50%;
  height: 15vh;
}
